@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: white;
    background-color:rgb(70, 54, 96);
  }
}

@layer components {
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5]
  
  }

  .tags{
    background-color: lightgreen;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding:3px 10px ;
    display:inline-block;
    color: #0c0b0b;
    font-size: 10px;
  }

  .tags:last-child{
    margin-right: 0;
  }

  .tags:nth-child(2){
    background-color:yellow;
  }
  .tags:nth-child(3){
    background-color:lightseagreen;
  }
  .tags:nth-child(4){
    background-color: orangered;
  }
} 